.App {
  background-color: cornsilk;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  height: 3rem;
  background: linear-gradient(45deg, yellowgreen, rgb(216, 13, 74));
  // background-color: cadetblue;

  &__link {
    text-decoration: none;
    color: aliceblue;
    transition: 500ms;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__button {
    background-color: inherit;
    border: none;
    color: aliceblue;
    font-size: 2rem;
    font-family: inherit;
    transition: 500ms;

    &:hover {
      transform: scale(1.2);
    }
  }
}